.login-admin{
    height: 100vh;
    width: 100%;
    background-color: #1a1b2b;
    display: flex;
    justify-content: center;
    align-items: center;

    &__container{
        background-color: #fafafa;
        height: 40%;
        padding: 50px;
        overflow: hidden;
        //display: flex;
        //justify-content: center;
        //align-items: center;
        > h1 {
            text-align: center;
            margin-bottom: 10px;
        }
    }
}